body{
    background-color: #EEEEEE;
    background-position: center;
    font-family: "Nunito", sans-serif;
    margin: 0;
}

button {
    background: #00A6F1;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    height: 40px;
    margin: 20px 0;
    outline: none;
    width: 100%;
}

button:hover {
    background: white;
    border: 2px solid #00A6F1;
    color: #00A6F1;
}

form {
    padding-bottom: 20px;
}

.form-container{
    color: #00A6F1;
    background-color: white;
    box-sizing: border-box;
    border-radius: 25px;
    left: 50%;
    padding: 10px 40px 10px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 620px;
}

.form-container input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #00A6F1;
    height: 40px;
    margin-bottom: 20px;
    outline: none;
    width: 100%;
}

.form-container a {
    color: #00A6F1;
    text-decoration: none;
}

.form-container label {
    font-weight: bold;
}

#form_title {
    text-align: center;
    padding: 20px;
    margin: 20px 0;
}

.page-header {
    background-color: #00A6F1;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    color: white;
    height: 150px;
    position: absolute;
    text-align: center;
    width: 100%;
}

::placeholder {
    color: #00A6F1;
}

.register-form {
    display: None;
}

span {
    text-decoration: underline;
}